{% extends 'authentication/base.html' %}

<title>{% block title %}Expenses List{% endblock title%}</title>

{% block content %}

<h1>Expenses List</h1>

<ul class="list-group">
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
    <li class="list-group-item">Beer Show</li>
</ul>

{% endblock content %}